#parent_emp{
    display: flex;
    flex-direction: row;
    background-color: #E5EAFF;
    height: 100%;
    padding-right: 10px;
    width: 990px;
   }
   #left-emp{
    flex: 50%;
    display: flex;
    flex-direction: column;
    
   }
   #left-emp-top{
    flex:25%;
    width: 100%;
    padding-top: 20px;
   }
   #left-emp-bottom{
    flex:75%;
    width: 100%;
    display: flex;
    flex-direction: row;
   }
   #left-emp-bottom-left{
        flex: 50%;
        text-align: left;
        padding-left: 40px;
        color: #787BA8;
        font-family: 'Poppins';
        font-size: larger;

        
   }
   #left-emp-bottom-right{
    flex: 50%;
    text-align: left;
    color: #787BA8;
    font-family: 'Poppins';
    

}
   #right-emp{
    flex: 50%;
    display: flex;
    flex-direction: column;
    
   }
   #right-emp-top{
    flex: 50%;
    
   }
   #right-emp-bottom{
    flex: 50%;
    margin-top: 10px;
   }

   #button_div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
   }
   #but_verify,
   #but_adhar{
    font-family: 'Poppins';
    width: 140px;
    
    
   }
   #data_table {
    outline: none;
    border:none
   }

   #customers {
    font-family: 'Poppins';
    border-collapse: collapse;
    width: 100%;
    border-radius: 50px;
  }
  
  #customers td, #customers th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 950px;
  }
  
  #customers tr:nth-child(even){background-color: white;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E5EAFF;
    color: black;
  }
  #calendar{
    border: none;
  }

  .react-daterange-picker__wrapper{
    border: solid 2px #e7e8e8;
    border-radius: 10px;
    height: 38px;
  }

  input:focus{
    border: none;
    outline: none;
  }
